/.coverage
/.docker
!/.docker/php/docker-php-ext-xdebug.ini
/.github
/docs
/tests
.dockerignore
.editorconfig
.gitattributes
.gitignore
CHANGELOG.md
docker-compose.yml
LICENSE
phpstan.neon
phpunit.xml
pint.json
rector.php
README.md
/vendor/
/.phpunit.result.cache
/.phpunit.cache
/.php-cs-fixer.cache
/.php-cs-fixer.php
/composer.lock
